
body {
    background-color: rgb(198, 210, 206);
}
h2, h3, h4 {
    text-align: center;
    margin: 10px;
}


.currency-checked {
    color: #fff;
    background-color: #16b67f;
}

.main {
    width: 950px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.select-left, .select-right {
    text-align: center;
    padding-bottom: 10px;

}
.currency-left, .currency-right {
    width: 400px;
    height: 42px;
    /* border: 2px red solid; */
    text-align: center;
    border-radius: 3px;
    display: flex;
    
    background-color: #eedfdf;
}

.currency__item {
    width: 85px;
    height: 30px;
    /* border: 2px blue solid; */
    padding: 10px 10px 0 10px;
    border: 1px grey solid;
    border-radius: 4px;
    cursor: pointer;
}

.colorGreen { 
    background-color:  green !important; /* Цвет при клике */
}

.calc-input-box-left, .calc-input-box-right {
    width: 350px;
    height: 100px;
    /* border: 2px black solid; */
    margin: 24px 0;
    padding: 30px 20px 15px;
    border-radius: 4px;
    /* border: 1px solid #cdcdcd; */
}

.container {
    width: 780px;
    padding: 100px 30px;
    position: absolute;
    top: 125px;
    /* z-index: 1; */
    background: #fff;
    box-shadow: 0 8px 40px 0 #c0c0c00f;
    /* display: none; */
    border-radius: 4px;
    /* border: 2px rgb(54, 193, 75) solid; */
}




.right-input, .left-input {
    width: 285px;
    height: 55px;
    font-size: 30px;
    text-align: left;
    padding: 10px 15px 10px 15px;
    /* border: 0; */
    border-radius: 4px;
}

.js-converter-rate-from-right, .js-converter-rate-from-left {
    width: 305px;
    height: 15px;
    font-weight: bold;
    font-size: 15px;
    padding: 0 0 5px 15px;
    color: #454242;
    border-radius: 4px;

    background-color: #fff;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0, 
    'opsz' 24
    
}

.icon__sync {
    color: grey;
    font-weight: 100;
/* width: 60px; */
    /* zoom: 2; */
    transition: transform 0.3s ease;
}

.arror__revers{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0, 
    'opsz' 24
    
}

.icon__sync:hover {
    transform: scale(3);
    
}

.modalWindow {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    width: 830px;
    
    left: 50px;
    top: 125px;
    font-size: 18px;
    color: black;
    box-shadow: 0 8px 40px 0 #c0c0c00f;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.3s ease;
    
    background: #fff;
}

.revers {
    cursor: pointer;
    
}


.leftOpenModal, .centrOpenModal,
.rightOpenModal {
    padding: 2px;
    font-family: fangsong, sans-serif;
    max-width:  240px;
    flex: auto;
    cursor: pointer;
}

.leftOpenModal:hover, .centrOpenModal:hover,
.rightOpenModal:hover {
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background-color: rgb(54, 114, 173);
}

.bold {
    font-weight: bold;
};

.calc__period {
    color: rgb(24 23 23);
    text-align: center;
    padding-top: 10px;
}